<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= post.title %></title>
</head>
<body>
    <a href="/posts">Go back to all posts</a>
    <h2><%= post.title %></h2>
    <div><%= post.text %></div>
    <p>
        by <a href="/users/<%= author.username %>"><%= author.username %></a>
        at <%= post.createdAt %>
    </p>
    <form action="/posts/<%= post.title %>/comments/new" method="post">
        <textarea name="postComment" id="postComment" cols="70" rows="5"></textarea>
        <br>
        <input type="submit" value="add comment" id="addComment">
    </form>
    <h4>Comments...</h4>
    <hr>
    <div id="comments">
        <%= comments %>
        <!-- <div class="comments">

        </div> -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>