<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= post[0].title %></title>
</head>
<body>
    <a href="/posts">Go back to all posts</a>
    <h2><%= post[0].title %></h2>
    <div><%= post[0].text %></div>
    <p>
        by <a href="/users/<%= post[0].author.username %>"><%= post[0].author.username %></a>
        at <%= post[0].createdAt %>
    </p>
    <form action="/posts/<%= post[0]._id %>/comments/new" method="post">
        <input type="hidden" name="post_id" id="post_id" value="<%= post[0]._id %>">
        <textarea name="postComment" id="postComment" cols="70" rows="5"></textarea>
        <br>
        <input type="submit" value="add comment" id="addComment">
    </form>
    <hr>
    <h4>Comments...</h4>
    <div id="comments">
        <% for (let i = 0; i < post[0].comments.length; i++) { %>
            <div class="comments">
                    <small>
                        <a href=""><%= post[0].comments[i].author.username %></a>
                        at <%= post[0].comments[i].createdAt %>
                    </small>
                    <p>
                        <%= post[0].comments[i].text %>
                    </p>
                    <hr>
            </div>
        <% } %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>